@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    /* nav-bgs */
    --primary-color: #4756df;
    /* text */
    --secondary-color: #ff7235;
    /* mouseover text */
    --primary-shadow: #8b8eaf;
    /* card shadow */
    --secondary-shadow: #a17a69;
    /* card shadow */
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* Variables end */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

fieldset {
    border: hidden;
}

/* Burger menu */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
    font-size: 300%;
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
}

nav ul li {
    font-weight: var(--bold-font);
    padding: .9rem;
}

nav ul.show {
    transform: translateX(0);
    border-radius: 0% 0% 5% 5%;
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    font-size: 12px;
}

.homepage-footer {
    bottom: 0;
    width: 100%;
}

.footer-quicklinks {
    text-align: center;
}

.footer-link {
    padding: 1rem;
}

.privacy-notice {
    padding-left: 20rem;
    padding-right: 20rem;
}

.intro {
    /* The image used */
    background-image: url("../images/iPolish\ Everywhere.jpg");
}

.intro-text {
    margin: 0rem 5rem;
}

.instructions {
    /* The image used */
    background-image: url("../images/iPolish-folded2.jpg");
}

.parallax {
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border: 15px white;
    border-style: solid none;
}

.parallax-column {
    background-color: white;
    width: 50%;
}

.motto {
    display: flex;
    align-items: center;
    padding-left: 12rem;
    min-height: 485px;
}

.motto h1 {
    font-size: 300%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.graphic-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
    align-items: center;
}

.card-wrapper img {
    padding: 1.25rem;
}

/* Skills */
.card {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.card-flex {
    display: flex;
    flex-direction: row;
}

.graphic {
    max-width: 300px;
}

input {
    width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

.form-textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#fs-frm {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#fs-frm input {
    max-width: 200px;
}

.app-icon {
    max-width: 50px;
    margin-right: 30px;
}

/* FIX FOR PARALLAX ON SAFARI NOT WORKING */
@media all and (hover: hover) {

    .et_pb_section_parallax .et_pb_parallax.css,
    .et_pb_slides .et_parallax_bg.et_pb_parallax.css {
        background-attachment: fixed !important;
    }
}

@media screen and (max-width: 900px) {
    .parallax-column {
        background-color: white;
        width: 50%;
    }

    .motto {
        display: flex;
        align-items: center;
        padding-left: 3rem;
        min-height: 200px;
    }

    .motto h1 {
        font-size: 200%;
    }

    .app-icon {
        max-width: 35px;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .parallax {
        /* Set a specific height */
        min-height: 250px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        border: 15px white;
        border-style: solid none;
    }

    .card-flex {
        display: flex;
        flex-direction: column;
    }

    .privacy-notice {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .intro {
        /* The image used */
        background-image: url("../images/iPolish\ Everywhere2.jpg");
    }

    .intro-text {
        margin: 0rem 3rem;
    }

    .instructions {
        /* The image used */
        background-image: url("../images/iPolish-folded.jpg");
    }

    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
        border-radius: 0% 0% 5% 5%;
    }

    nav ul li {
        margin: 8px;
        padding: .9rem;
    }

    .burger-menu {
        display: block;
    }
}